.about-info {
    &__text-block {
        font-family: Gilroy;
        margin-bottom: rem(40);
    }

    &__title {
        font-weight: 600;
        font-size: rem(22);
        line-height: 130%;
        color: #0b2137;
        margin-bottom: rem(20);
    }

    &__text {
        font-size: rem(18);
        line-height: 130%;
        color: #52606d;
        p {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }
}
