.about {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: rem(0);
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        background: url("@img/about/bg.png") no-repeat top / cover;
    }
    &__container {
        position: relative;
        z-index: 1;
        padding-top: rem(30);
        padding-bottom: rem(43);
    }

    &__title {
        font-weight: 600;
        font-size: rem(30);
        color: rgb(218, 196, 113);
        line-height: 130%;
        text-align: center;
        margin-bottom: rem(30);
    }

    &__item {
        display: flex;
        @include adaptiveValue("gap", 71, 20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 77, 40);
        }
        &.odd {
            flex-direction: row-reverse;
        }

        @media (max-width: $tablet) {
            &,
            &.odd {
                flex-direction: column;
            }
        }
    }
}
.item-about {
    &__text-box {
    }

    &__title {
        font-weight: 600;
        font-size: rem(20);
        line-height: 130%;
        text-indent: rem(20);
        color: #ffffff;
    }

    &__text {
        font-family: Gilroy;
        flex: 1 1 auto;
        font-weight: normal;
        @include adaptiveValue("font-size", 18, 16);
        line-height: 130%;

        text-indent: rem(20);
        margin-top: rem(15);
        margin-bottom: rem(20);
        a {
            color: red;
        }
        & > p:not(:last-child) {
            margin-bottom: rem(15);
        }
        color: #a0aec9;
    }

    &__more {
        font-family: Gilroy;
        font-weight: normal;
        font-size: rem(14);
        background: $goldColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #dac471;
        line-height: 130%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: rem(9);
        &::after {
            @extend %ic;
            content: "\e908";
            font-size: rem(20);
        }
    }

    &__img-ibg {
        flex: 0 0 percent(450, 1218);
        height: rem(285);

        @media (max-width: $tablet) {
            padding-bottom: rem(285);
        }
        & img {
            max-width: 100%;
            border-radius: 5px;
        }
    }
}
