// Заголовки, общие БЄМ блоки и проче...
.product-cart {
    padding: rem(15);
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    &__img-ibg {
        padding-bottom: percent(200, 356);
        position: relative;
        @media (max-width: $tablet) {
            padding-bottom: percent(200, 356);
        }
        & > img {
            max-width: 100%;
            border-radius: 10px;
        }
    }

    &__title {
        font-family: Gilroy;
        font-weight: 500;
        font-size: rem(20);
        line-height: 130%;
        margin-bottom: rem(10);
        margin-top: rem(20);
        color: #36332d;
    }

    &__text {
        font-family: Gilroy;
        font-weight: normal;
        font-size: rem(16);
        line-height: 130%;

        color: #a0aec9;
    }

    &__more {
        display: block;
        text-align: center;
        padding: rem(14.5) 0;
        margin-top: rem(30);
        &._margin {
            margin-top: rem(21.5);
        }
        width: 100%;
        font-family: Gotham;
        font-weight: bold;
        font-size: rem(16);
        line-height: 130%;
        background: #0b2137;
        border-radius: 10px;
        color: #fdffea;
    }

    &__some-info {
        font-family: Gilroy;
        font-weight: 500;
        font-size: rem(16);
        line-height: 130%;

        color: #0b2137;

        display: flex;
        justify-content: space-between;

        margin-top: rem(11.5);
    }

    &__info {
        display: flex;
        align-items: center;
        gap: rem(5);

        &::before {
            font-size: rem(24);
        }
    }

    &__type {
        font-family: Gilroy;
        font-weight: 500;
        font-size: rem(14);
        line-height: 130%;

        color: #ffffff;

        position: absolute;
        background: linear-gradient(271.04deg, #daa520 -17.69%, #dac471 98.22%);
        border-radius: 5px;
        padding: rem(6) rem(20);
        right: rem(10);
        top: rem(10);
    }

    &__price {
    }
}
.price-product {
    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 130%;
        background: $goldColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #dac471;
    }

    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;

        color: #52606d;
    }
}
.main-content [class*="__text-block"] {
    [class*="__title"] {
        font-weight: 600;
        font-size: rem(22);
        line-height: 130%;
        color: #0b2137;
    }
    [class*="__paragraph-block"] {
        color: #52606d;
        font-weight: normal;
        font-size: rem(18);
        line-height: 130%;
        p {
            a {
                color: #415ad8;
                text-decoration: underline;
            }
        }
        span {
            display: block;
            text-indent: rem(50);
            margin-bottom: rem(10);
        }
    }
    [class*="_warning"] {
        color: #ffffff;
        background-color: #e92222;
        padding: rem(10);
        border-radius: 5px;
    }
}
.main-content [class*="__table-box"] {
    font-family: Gilroy;
    font-weight: 500;
    @include adaptiveValue("font-size", 16, 14, 1920, 390);
    font-size: rem(14);
    line-height: 130%;
    border-radius: rem(5);
    overflow: hidden;

    margin-bottom: rem(20);
    [class*="__table-header"] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: $mobileSmall) {
            grid-template-columns: rem(75) 1fr rem(75);
        }
        @media (max-width: rem(390)) {
            grid-template-columns: rem(70) rem(120) rem(70);
        }
        min-height: rem(56);
        border-bottom: 1px solid #dce4ef;

        background-color: #0b2137;
        [class*="__table-item"] {
            &:not(:last-child) {
                border-right: 1px solid #dce4ef;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            &:not(:last-child) {
                padding: 0 rem(5);
            }
            color: #fff;
        }
    }
    [class*="__table-data"] {
        [class*="__table-row"] {
            display: grid;

            grid-template-columns: 1fr 1fr 1fr;
            @media (max-width: $mobileSmall) {
                grid-template-columns: rem(75) 1fr rem(75);
            }
            @media (max-width: rem(390)) {
                grid-template-columns: rem(70) rem(120) rem(70);
            }
            min-height: rem(56);
            &._odd {
                background-color: rgba(220, 228, 239, 0.3);
            }
            color: #0b2137;

            [class*="__table-item"] {
                display: flex;
                align-items: center;
                justify-content: center;

                &:not(:last-child) {
                    border-right: 1px solid #dce4ef;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid #dce4ef;
            }
            &:last-child {
                font-weight: 600;
                font-size: rem(18);
                line-height: 130%;
                color: #0b2137;
            }
        }
    }
}
