//Header
$headerBackgroundColor: $darkBlueColor;
$headerMainColor: inherit;
$headerMinHeight: rem(80);
//Header

//Logo
$logoFontSize: rem(30);
//Logo

//Button
$btnBorderColor: #dac471;
$btnBorderThickness: rem(1);
$btnBorderRadius: rem(8);
$btnMarginBetweenLine: rem(10);
$btnPaddingX: rem(15);
$btnPaddingY: rem(10);
//Button

//Menu
$marginMenuArrow: rem(8);
$menuPaddingLinks: rem(8);
$menuLinkFontSize: rem(20);
//Menu

//Submenu
$subMenuArrowURL: "/img/arrow.svg";
$subMenuArrowWidth: rem(10);
$subMenuArrowHeight: rem(10);
$subMenuArrowInitialAngle: 0deg;
$subMenuArrowEndAngle: -180deg;
$subMenuGapLink: rem(20);
$marginTopSubmenu: rem(20);
$submenuPadding: rem(15);
$subListHoverBackgrond: #213432;
$subListHoverColor: #fff;
//Submenu

//====================================================================================================
.header {
	background-color: $headerBackgroundColor;
	box-shadow: 0px 2px 2px rgba(105, 105, 105, 0.15);
	position: fixed;
	width: 100%;
	z-index: 100;
	&__container {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("gap", 20, 10);
		color: $headerMainColor;
		min-height: $headerMinHeight;

		font-family: Gilroy;
		line-height: math.div(19, 16);
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 18);
	}
	&__logo {
		display: block;
		font-family: "ProximaNova";
		background: url(@img/logo.png) center/contain no-repeat;
		height: rem(65);
		max-height: 100%;
		flex: 0 0 percent(65, 1218);
		margin: rem(10) 0;
		min-width: 80px;
	}

	&__menu {
	}

	&__account {
		text-align: center;
		color: $btnBorderColor;

		& > span {
			&::after {
				content: "|";
				margin: 0 $btnMarginBetweenLine;
				color: $btnBorderColor;
			}
		}
		border: 2px solid $btnBorderColor;
		border-radius: $btnBorderRadius;
		padding: $btnPaddingY $btnPaddingX;
		@media (max-width: $tablet) {
			display: none;
		}
	}
}

.menu {
	&__body {
	}

	&__list {
		display: flex;
		@include adaptiveValue("gap", 30, 5, 1920, 930);
		flex-wrap: wrap;
		padding: $menuPaddingLinks;
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: rem(10);
			flex-wrap: nowrap;
			overflow-y: auto;
			position: absolute;

			top: -100%;
			right: 0;
			opacity: 0;
			padding-top: rem(50);
			margin-top: $headerMinHeight;
			visibility: collapse;
			transition: top 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
			box-shadow: 0px 2px 2px rgba(105, 105, 105, 0.15);
			background-color: $darkBlueColor;
			width: 100vw;
			height: calc(100vh - $headerMinHeight);
			color: #fff;
			.menu-open & {
				opacity: 1;
				visibility: visible;
				top: 0;
			}
		}
	}

	&__item {
		font-family: "ProximaNova";
		display: inline-flex;
		justify-content: center;
		color: #d5e2f3;
		font-weight: 400;
	}
	&__link {
		@media (max-width: $tablet) {
			padding: rem(10) rem(15);
			padding-left: 0;
			padding-right: 0;
		}
		@media (max-width: $tablet) {
			display: block;
		}
	}
}
.header {
	&__menu-footer {
	}
}
.menu-footer-header {
	&__item {
		& > li {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		& .menu-footer__item-box {
			& span {
				display: none;
			}
		}
		& .menu-footer__item::before {
			background: $goldColor;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #dac471;
		}
		.menu-footer-header-item-tel {
		}
		.menu-footer-header-item-map {
		}
		.menu-footer-header-item-mail {
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
