@import "cases";
@import "offer";
@import "info-block";
@import "about";
@import "feedback";

.page {
    & > section:first-child {
        margin-top: $headerMinHeight;
    }

    &__cases {
    }
    &__offer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        color: $offerMainColor;
    }
    &__info-block {
        margin-top: rem(49);
        margin-bottom: rem(75);
    }
    &__about {
        margin-bottom: rem(50);
    }
    &__feedback {
    }
}

//====================================================================================================

//====================================================================================================
