@import "cases";
@import "offer";
@import "info-block";
@import "about";
@import "feedback";

.page {
    & > section:first-child {
        margin-top: $headerMinHeight;
    }

    &__cases {
        @include adaptiveValue("margin-bottom", 40, 30);
    }
    &__offer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        color: $offerMainColor;
    }
    &__info-block {
        @include adaptiveValue("margin-top", 49, 30);
        @include adaptiveValue("margin-bottom", 75, 30);
    }
    &__about {
        @include adaptiveValue("margin-bottom", 50, 30);
    }
    &__feedback {
    }
}

//====================================================================================================

//====================================================================================================
