@import "cases";
@import "offer";
@import "info-block";

.page_margin_blocks {
    @include adaptiveValue("margin-top", 60, 45);
}

.page {
    & > section:first-child {
        margin-top: $headerMinHeight;
    }

    &__cases {
        @extend .page_margin_blocks;
    }
    &__offer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        color: $offerMainColor;
    }
    &__info-block {
        margin-top: rem(49);
        margin-bottom: rem(75);
    }
}

//====================================================================================================

//====================================================================================================
