.info-block {
    &__container {
        position: relative;
        z-index: 1;
    }

    &__title {
        font-weight: 600;
        font-size: rem(30);
        line-height: math.div(37, 30);

        color: #0b2137;
        margin-bottom: rem(30);
    }

    &__tabs-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        display: flex;
        @media (max-width: $tablet) {
            flex-direction: column;
            gap: rem(20);
        }
    }

    &__tab {
        display: grid;
        grid-template-columns: rem(386) 1fr;
        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__slider {
    }

    &__wrapper {
        margin-bottom: rem(20);
    }

    &__slide {
        @media (min-width: $tablet) {
            max-width: fit-content;
        }
        @media (max-width: $tablet) {
            background: #ffffff;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            padding-bottom: rem(10);
        }
    }
    .swiper-pagination {
        @media (max-width: $tablet) {
            display: flex;
        }
        display: none;
        justify-content: center;
        gap: rem(7);
        margin-top: rem(15);
        span {
            width: rem(25);
            height: rem(3);
            background-color: #dce4ef;
            &.swiper-pagination-bullet-active {
                background-color: #dac471;
            }
        }
    }
}
.tabs-buttons {
    &__button {
        flex: 0 0 percent(386, 1218);
        min-width: rem(200);
        border-radius: 12px;
        font-weight: bold;
        @include adaptiveValue("font-size", 22, 20);
        line-height: math.div(40, 22);
        padding: rem(18) rem(28);
        background: rgba(202, 213, 228, 0.5);
        color: #a0aec9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: none;
                background: linear-gradient(269.35deg, #dac471 0%, #daa520 100%);
                color: #ffffff;
                &::after {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        @media (max-width: $tablet) {
            justify-content: center;
            padding: rem(5);
            border-radius: 5px;
        }
        &.active-btn {
            background: linear-gradient(269.35deg, #dac471 0%, #daa520 100%);
            box-shadow: 0px 4px 6px rgba(136, 116, 46, 0.2);
            color: #ffffff;
            &::after {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
        @media (max-width: $tablet) {
            background: linear-gradient(269.35deg, #dac471 0%, #daa520 100%);
            box-shadow: 0px 4px 6px rgba(136, 116, 46, 0.2);
            color: #ffffff;
            &::after {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
        &::after {
            @extend %ic;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: rem(36);
            padding: rem(14);
            border-radius: 50%;
            background-color: #fff;
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }
}

.info-block-cart {
    &__img-ibg {
        padding-bottom: percent(200, 356);
        @media (max-width: $tablet) {
            padding-bottom: percent(200, 356);
        }
        & > img {
            max-width: 100%;
            border-radius: 10px;
        }
    }

    &__title {
        font-family: Gilroy;
        font-weight: 500;
        font-size: rem(20);
        line-height: 130%;
        margin-bottom: rem(10);
        margin-top: rem(20);
        color: #36332d;
    }

    &__text {
        font-family: Gilroy;
        font-weight: normal;
        font-size: rem(16);
        line-height: 130%;

        color: #a0aec9;
    }

    &__more {
        display: block;
        text-align: center;
        padding: rem(14.5) 0;
        margin-top: rem(30);
        width: 100%;
        font-family: Gotham;
        font-weight: bold;
        font-size: rem(16);
        line-height: 130%;
        background: #0b2137;
        border-radius: 10px;
        color: #fdffea;
    }
}

//========================================================================================================================================================
.tab-info-block {
    &__text-box {
        font-family: Gilroy;
        font-weight: normal;
        @include adaptiveValue("font-size", 18, 16);
        line-height: 130%;
        color: #52606d;
        margin-top: rem(50);
        padding-left: rem(30);
        display: none;
        &.active-tab {
            display: block;
        }
        @media (max-width: $tablet) {
            margin-top: rem(20);
            padding-left: 0;
            padding: 0 rem(10);
            display: block;
        }
        overflow-y: scroll;
        height: rem(360);

        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &__cart {
        padding: rem(15);
        background: #ffffff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-top: rem(30);
        display: flex;
        flex-direction: column;
        height: rem(408);
        @media (max-width: $tablet) {
            height: 100%;
        }
    }
    &__title {
        font-family: Gilroy;
        font-weight: 500;
        @include adaptiveValue("font-size", 22, 18);

        line-height: 130%;

        color: #0b2137;

        & span {
        }
    }

    &__text {
        margin-top: rem(30);
    }

    &__list {
        margin: rem(15) 0;
    }

    &__list-item {
    }
}
.info-block {
}
.swiper-info-block {
}
.swiper-wrapper {
}
.swiper-slide {
}
