.offer-header {
    &__container {
        display: flex;
        justify-content: space-between;
        padding: rem(20) rem(10);
        align-items: center;
    }

    &__title {
        color: #000;
        @include adaptiveValue("font-size", 50, 30);
        flex: 1 1 auto;
        mark {
            background: none;
            color: $btnBorderColor;
        }
    }

    &__text {
        max-width: 40%;
    }
}
