// Ширина / Высота
$offerMinHeight: 75vh;
$offerMaxContentWidth: rem(500);
// Ширина / Высота

// Изображения / Ссылки
$offerImgURL: "https://w-dog.ru/wallpapers/12/14/438960210251641/figury-kvadraty-prozrachnost-grani-pryamougolniki.jpg";
// Изображения / Ссылки

// Цвета
$offerMainColor: #fff;
$offerNameColor: gold;
$imgOfferBackground: rgba(37, 14, 165, 0.582);
// Цвета

// Отступы
$offerMarginTopContent: rem(200);
$offerMarginBetweenContent: rem(20);
$offerMarginTopBtn: rem(0);
// Отступы

// Размер шрифта
$offerNameFz: rem(30);
$offerTitleFz: rem(40);
$offerTextFz: rem(20);
// Размер шрифта

.page {
    &__offer {
        position: relative;
        display: flex;
        align-items: center;
        background: url($offerImgURL) 100% 100% no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: $offerMarginTopContent;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            z-index: 1;
            height: 100%;
            background-color: $imgOfferBackground;
        }
        color: $offerMainColor;
    }
}
.offer {
    &__container {
        text-align: center;
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 rem(10);
        min-height: calc(100vh - rem(53));
    }
    &__box {
        position: relative;
        max-width: $offerMaxContentWidth;
        margin-top: auto;
        margin-bottom: auto;

        z-index: 2;
    }
    &__name {
        color: $offerNameColor;
        font-size: $offerNameFz;
    }

    &__title {
        font-size: $offerTitleFz;
        margin: $offerMarginBetweenContent 0;
    }

    &__text {
        font-size: $offerTextFz;
    }
    &__scroll-down-btn {
        position: absolute;
        right: rem(10);
        top: -15%;
        background: $btnBorderColor;
        border-radius: 50%;

        &::after {
            content: "";

            position: absolute;
            background: url("/img/arrow.svg") 100% 100% no-repeat;
            background-position: center;
            background-size: contain;
            width: rem(50);
            height: rem(50);
            top: calc(50% - rem(25));
            left: calc(50% - rem(25));
        }
    }
}
.circle {
    position: relative;
    z-index: 2;
    width: rem(150);
    height: rem(150);
    overflow: hidden;
    animation: rotateWords 10s infinite linear;
    font-size: rem(15);

    /*transition: transform 0.3s linear 0s;
    @media (any-hover: hover) {
        &:hover {
            transform: rotate(193deg);
        }
    }*/

    span {
        position: absolute;
        transform: translateX(35px);
        left: 50%;
        top: 50%;
        transform-origin: 0 0;
    }
}
@-webkit-keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-o-keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateLetters {
    from {
        padding-left: 0px;
    }
    10% {
        padding-left: 25px;
    }
    to {
        padding-left: 0px;
    }
}
