// Ширина / Высота
$offerImgMinHeight: 75vh;
$offerNumsMinHeight: rem(150);
$offerMaxContentWidth: rem(500);
// Ширина / Высота

// Изображения / Ссылки
$offerImgURL: "https://w-dog.ru/wallpapers/12/14/438960210251641/figury-kvadraty-prozrachnost-grani-pryamougolniki.jpg";
// Изображения / Ссылки

// Цвета
$offerNumsStickColor: #fff;
$offerNumsBackground: rgb(14, 7, 20);
$offerMainColor: #fff;
$imgOfferBackground: rgba(37, 14, 165, 0.582);
// Цвета

// Отступы
$offerMarginTopContent: rem(200);
$offerMarginBetweenContent: rem(20);
$offerMarginTopBtn: rem(0);
// Отступы

// Размер шрифта
$offerNameFz: rem(30);
$offerTitleFz: rem(40);
$offerTextFz: rem(20);
$offerNumberFontSize: rem(50);
$offerTextFontSize: rem(20);
// Размер шрифта

.offer {
    &__container {
        text-align: center;
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 rem(10);
        min-height: calc(70vh - rem(53));
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: calc(70vh - rem(53));
        position: relative;
        z-index: 2;
    }

    &__numbers-box {
        margin-bottom: rem(-75);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: space-between;
        background-color: $offerNumsBackground;
        border-radius: rem(12);

        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        }
    }

    &__scroll-down-btn {
        position: absolute;
        right: rem(10);
        top: -8%;
        background: $btnBorderColor;
        border-radius: 50%;

        &::after {
            content: "";

            position: absolute;
            background: url("/img/arrow.svg") 100% 100% no-repeat;
            background-position: center;
            background-size: contain;
            width: rem(50);
            height: rem(50);
            top: calc(50% - rem(25));
            left: calc(50% - rem(25));
        }
    }
}
.numbers-box-offer {
    &__number-box {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        min-height: $offerNumsMinHeight;
        @media (max-width: $mobile) {
            min-height: 0;
            padding: rem(20) rem(5);
        }
        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                height: calc($offerNumsMinHeight / 2);
                width: rem(1);
                background-color: $offerNumsStickColor;
                right: 0;
            }
        }
    }
}
.number-box-offer {
    &__number {
        @include adaptiveValue("font-size", 50, 20);
        line-height: math.div(60, 50);
    }

    &__title {
        @include adaptiveValue("font-size", 25, 14);
    }
}

.circle {
    position: relative;
    z-index: 2;
    width: rem(120);
    height: rem(120);
    overflow: hidden;
    animation: rotateWords 10s infinite linear;
    font-size: rem(15);

    /*transition: transform 0.3s linear 0s;
    @media (any-hover: hover) {
        &:hover {
            transform: rotate(193deg);
        }
    }*/

    span {
        position: absolute;
        transform: translateX(35px);
        left: 50%;
        top: 50%;
        transform-origin: 0 0;
    }
}
@-webkit-keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-o-keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateWords {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateLetters {
    from {
        padding-left: 0px;
    }
    10% {
        padding-left: 25px;
    }
    to {
        padding-left: 0px;
    }
}
